body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/BACKGROUND.jpg);

  background-size: cover;
}

#titulo {
  color: red;
  text-align: center;
  text-decoration: underline;
}

#descripcion {
  color: blue;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1.5px;
  text-shadow: #89aefd96 2px 2px 4px;
}

#link {
  color: green;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: wavy underline;
  text-decoration-color: orange;
  display: block;
  text-align: center;
  margin-top: 20px;
}

#VIDEO {
  display: block;
  margin: 20px auto;
  border: 5px solid chartreuse;
  border-radius: 20px;
}

#FOTO {
  text-align: center;
  text-decoration: double underline;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

#FOTOGOATS {
  display: block;
  margin: 20px auto;
  border: 5px solid black;
  border-radius: 20px;
}

#FormTitulo {
  text-decoration: underline;
  color: rgb(244, 248, 2);
  font-size: 18px;
  font-style: italic;
  text-align: center;
  line-height: 1.3;
}

#INGNOMBRE,
#INGAPELLIDO,
#INGTELEFONO,
#INGCORREO {
  color: rgb(5, 46, 82);
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
}

#INGENVIAR {
  background-color: rgba(133, 110, 224, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: bold;
  border: 2px solid rgb(27, 3, 122);
  background-color: #89aefd96;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}

#BOXNOMBRE,
#BOXAPELLIDO,
#BOXTELEFONO,
#BOXCORREO {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(27, 3, 122);
  border-radius: 5px;
  padding: 2px;
}

.FORMULARIO {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/FONDOFORMULARIO.jpg);
  background-size: cover;
}
